.center{
    text-align: center;
}



.thumbnail{
    width: 200px;
    height: 110px;
}
.searchJS{
    font-size: 20px;
}
.search{
    background-image: url(../img/food.jpg);
    background-repeat: repeat;
}

.welcome{
    background-image: url("../img/food1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -o-background-size: 100% 100%, auto;
    -moz-background-size: 100% 100%, auto;
    -webkit-background-size: 100% 100%, auto;
    background-size: 100% 100%, auto;
    
    
}
.jumbotron{
    background: transparent; 
    color: white;
}
.lead{
    font-size: 26px;
}
.contact{
    
    font-size: 20px;
}
.center{
    margin-top: 10px;
    text-align: center;
}
.borderresult{
    border: 2px solid rgb(160, 5, 65);
}
.tapbar{
   background-color:rgb(187, 154, 8);
}
.imgabout{
    width: 500px;
    padding: 3rem;
    margin-right: auto;
    margin-left: auto;
    border-width: .2rem;   
}
@media only screen and (max-width: 600px) {
    .imgabout{
    width: 300px;
    padding: 2rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem; 
    }
    
    
}
.about{
    background-image: url(../img/bgabout.jpg);
    background-repeat: no-repeat;
}
.checked {
    color: rgb(255, 0, 212);
}
.detail{
    width: 700px;
    height: 250px;
}
@media only screen and (min-width: 400) and (max-width: 600px) {
    .detail{
        width: 900px;
        height: 300px;
    }
}
.bd-example {
    width: 300px;
    position: relative;
    margin: 1rem -15px 0;
    border-width: .2rem 0 0;
}
.bgdetail{
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
}

